@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-stripes {
  --color1: #e0eaf5;
  --color2: #fcddc7;
  background-image: linear-gradient(
    90deg,
    var(--color1) 14.5%,
    var(--color2) 14.5% 25.5%,
    var(--color1) 25.5% 26.5%,
    var(--color2) 26.5% 37.5%,
    var(--color1) 37.5% 38.5%,
    var(--color2) 38.5% 49.5%,
    var(--color1) 49.5% 50.5%,
    var(--color2) 50.5% 61.5%,
    var(--color1) 61.5% 62.5%,
    var(--color2) 62.5% 73.5%,
    var(--color1) 73.5% 74.5%,
    var(--color2) 74.5% 85.5%,
    var(--color1) 85.5% 100%
  );
}
